body {
  background: #222;
  color: white;
  font-family: sans-serif;
}

#c {
  border: 1px solid #555;
  cursor: crosshair;
}

.toolbar {
  margin: 8px 0;
}

button {
  margin: 2px;
  padding: 6px;
}

button.active {
  outline: 2px solid rgb(255, 29, 29);
}

#cursor {
  position: absolute;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 50%;
  display: none;
}

#c {
  border: 1px solid #555;
  cursor: crosshair;

  /* make it scale dynamically but preserve aspect ratio */
  max-width: 90vw;
  max-height: 80vh;

  width: auto;   /* scale width based on height */
  height: auto;  /* scale height based on width */

  display: block;   /* remove inline spacing */
  margin: 0 auto;   /* center horizontally */
}


.toolbar {
  margin: 8px 0 60px 0; /* top 8px (already), bottom 20px to add space below */
}

#video {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
