body {
  background: #222;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#c {
  border: 1px solid #555;
  cursor: crosshair;
  display: block;
  margin: 10px auto;
}

.toolbar {
  margin: 8px 0 20px 0;
}

button {
  margin: 2px;
  padding: 6px;
}

button.active {
  outline: 2px solid rgb(255, 29, 29);
}

#cursor {
  position: absolute;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 50%;
  display: none;
}

#video {
  display: none; /* hidden, only used as source for canvas */
}
